table {
    width: 100%;
    border: 1px solid #000;
}
th.Produse {
    width:20%
}
th.Email {
    width:8%
}


th {
    box-shadow: inset 2px -2px #000;
}
td{
    border: 1px solid black;
}
.btn {
    color: rebeccapurple;
    border-color: rebeccapurple;
}
.btn:hover {
    color: white;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}
.btn:focus {
    color: white;
    border-color: rebeccapurple;
    background: rebeccapurple;
}
.dropdown-item {
    color: rebeccapurple;
    border-color: rebeccapurple;
}
.dropdown-item:hover{
    color: white;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}
.dropdown-item:focus{
    color: white;
    border-color: rebeccapurple;
    background: rebeccapurple;
}
